.scrolling-content .scrolling-item .icon-box {
    padding-left: 20px;
    padding-right: 2px;
}
.about-content .about-list-item ul li {
    padding-left: 0;
}
.about-content .about-list-item ul li::before {
    right: -30px;
}
@media (max-width: 768px) {
    .about-content .about-list-item ul li {
        padding-right: 30px;
    }
    .about-content .about-list-item ul li::before {
        right: 0;
    }
}
.about-info-item .icon-box {
    padding-right: 0;
    padding-left: 15px;
}
.price-carousel .price-item p span {
    padding-right: 30px;
}
.testimonial-header .author-image {
    padding-right: 0px;
    padding-left: 20px;
}
.footer-about .footer-social-links ul li {
    margin-right: 0;
    margin-left: 20px;
}
.footer-contact-info-item .icon-box {
    padding-left: 10px;
    padding-right: 0px;
}
.accordion-header .accordion-button {
    text-align: right;
}
.footer-policy-menu ul li::before {
    left: 0;
}
.footer-policy-menu ul li {
    padding-right: 0;
    margin-right: 0;
    padding-left: 12px;
    margin-left: 6px;
}
.footer-policy-menu ul li:last-child {
    padding-left: 0;
}
.hero .section-title {
    text-align: right !important;
}
.hero-content-body {
    text-align: right !important;
}

.hero .hero-content .hero-content-footer {
    text-align: right !important;
}

.main-menu ul li.highlighted-menu a {
    font-size: 13px;
    padding: 10px 18px !important;
}
.main-menu ul li a {
    font-size: 16px;
}
.section-title h1 {
    text-align: right;
}
.hero-content-body p {
    text-align: right;
}
.hero .hero-content .hero-content-footer {
    text-align: right !important;
}
.scrolling-content .scrolling-item .icon-box {
    padding-left: 20px;
    padding-right: 2px;
}
.about-footer .about-info-item h3 {
    font-size: 22px;
}
.footer-policy-menu ul a::before {
    left: 0px;
}
.footer-policy-menu ul a {
    padding-left: 12px;
    margin-left: 6px;
}
.footer-policy-menu ul a:last-child {
    padding-left: 0;
    margin-left: 0;
}

.footer-policy-menu ul a:last-child::before {
    display: none;
}
